@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: 'Anek Malayalam', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(240,241,244,0.98) 99%);
}
main{
    margin-top: 6rem;
}
#foto{
    border-radius: 20px 20px 20px 20px;
    padding: 0.5rem;
    width: 48vw;
    height: auto;

}

.title_color{
    color:rgb(84, 101, 172);
}

nav{
    position: fixed;
    width: 100%;
    background-color: rgb(84, 101, 172);
    top: 0;
    text-align: center;
    /*padding: 0.1rem;*/
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 200 solid;
    font-size: 0.2rem;
    padding: 0 1rem 0 1rem;
}

ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 0.1rem;
}
/* Dropdown menu*/
.dropdown {
    float: right;
    overflow: auto;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.2rem;
    border: none;
    outline: none;
    color: white;
    /*padding: 0.1rem 0.1rem;*/
    background-color: rgb(84, 101, 172);
    /*font-family: inherit; Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(145, 162, 229); /*rgb(145, 162, 229);*/
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    font-weight: 200;
    background-color: rgb(145, 162, 229);
    width: 8rem;
    border-radius: 0.5rem;
    /*box-shadow: 0px 8px 16px 0px  rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(193, 217, 249);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.decor{
    text-decoration: none;
    list-style-type: none;
}

h1,h2{
    color: rgb(84, 101, 172);
    text-align: center;
}
    /* Button change foto*/
#btn{
    background-color: rgb(84, 101, 172);

    }

#btn:hover{
    background-color:rgb(193, 217, 249);
    color: black;
    transition: all 0.275s ease-in;
}

/*---- MEETING -------*/

.span-shadow {text-align:center}
.span-shadow span {
  display: inline-block;
  text-transform: uppercase;
    letter-spacing: 0.1rem;
  margin: 1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-radius: 0.9rem;
  color: white;
  transition: .2s linear;
}
.span-shadow span:nth-child(1) {background:rgb(84, 101, 172)}
.span-shadow span:nth-child(1):hover {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.2rem rgb(84, 101, 172);
}
.span-shadow span:nth-child(2) {background:#C1F1E4}
.span-shadow span:nth-child(2):hover { 
  box-shadow: 12rem 0 0 0 rgba(0,0,0,.3) inset;
}
.span-shadow span:nth-child(3) {background:rgb(84, 101, 172)}
.span-shadow span:nth-child(3):hover {
  box-shadow: 0 0 0 0.2rem rgb(84, 101, 172) inset, 0 0 0 2.2rem white inset;
}
.span-shadow span:nth-child(4) {
  background: rgb(84, 101, 172);
  position: relative;
  top: 0;
  left: 0;
}
.span-shadow span:nth-child(4):hover {
  box-shadow: 0.2rem 0.2rem white, 2.2rem 2.2rem rgb(84, 101, 172);
  top: -0.2rem;
  left: -0.2rem;
}

    /* CONTACTS*/    
.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;

}
.contact{
    margin: 1rem 2rem 0 0;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.location{
    margin: 1rem 2rem 0 0;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.network{
    margin: 1rem 2rem 0 0;
}
.contact p{
    margin: 0;
}
.location p{
    margin: 0;
}


/*.network_path{
    display: flex;
    flex-direction: row;
    margin: 0 0 1.5rem 0;
    justify-content: center;
}
.network_path p{
    margin: 0;
}
.network_path img{
        margin: 0;
        width: 6vw;
        height: 4vh;
        padding: 0;
}
.linked, .gh {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
}*/
/* ----------icons svg ------------- */

.net-container{
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 15rem;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
} 

.icon-li,
.icon-gi {
    width: 2.5rem;
    height: auto;
    cursor: pointer;
    margin-right: 1rem;
}

.icon-gi :hover{
  fill: rgb(84, 101, 172);;
    
}
.icon-li :hover{
    fill: rgb(84, 101, 172);;
}

.network-list li {
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    text-align: center;
}

.container-sum-obj{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
}

.sum_obj{
    padding: 1rem;
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;
}
.pand{
    padding-left: 1rem;
    padding-right: 1rem;
}

.table-responsive {
	overflow-x: auto;
}

table{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}

tr{
    background-color: rgb(84, 101, 172);
    color: rgb(255, 255, 255);
}



.container_languges h5{
margin-left: 1rem;
margin-right: 1rem;
}

button{
    background-color:  rgb(84, 101, 172);
    border-radius: 5px;
    padding: 0.7rem;
    border:0;
    color:rgb(255, 255, 255);
}
#skills-block,
#edu-block,
#work-block{
    padding-top: 3rem;
}

.border_edu{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;
    padding: 0 0 1rem 0;
    margin: 2rem 1rem 0 1rem;
}

.text_edu{
    padding-left: 1rem;
    padding-right: 1rem;
}
.dop_edu{
    padding: 1rem;
}
.soft_skills{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;
    padding: 0.5rem 3rem 0 3rem;
    margin: 2rem 1rem 0 1rem;
}
.prof_skills{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;    
    margin: 2rem 1rem 2rem 1rem;
    padding: 0 3rem 0 3rem;
}
.work_utest{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;    
    margin: 2rem 1rem 0 1rem;
    padding: 4rem 3rem 1rem 3rem;

}
.work_programing{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;    
    margin: 2rem 1rem 0 1rem;
    padding: 4rem 3rem 1rem 3rem;
}
.work_manage{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;    
    margin: 2rem 1rem 0 1rem;
    padding: 4rem 3rem 1rem 3rem;
}
.border_languges{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;   
    margin: 2rem 1rem 0 1rem;
    padding: 1rem 0 1rem 0;


}
.container_languges{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*padding-left: auto;
    padding-right: auto;*/
}

.container_languges h4{
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.2rem 0 0.2rem 0;
}
.responsable{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;    
    margin: 2rem 1rem 2rem 1rem;
    padding: 1rem;
}

.border_asses{
    border: 3px solid rgb(84, 101, 172);
    box-sizing: content-box;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(84, 101, 172);
    border-radius: 2rem;    
    margin: 2rem 1rem 1rem 1rem;
    padding: 0.5rem 0 1rem 0;

}

.form-value input{
        width: 35vw;
}
    
.form-item input,
.form-item textarea{
        width: 65vw;
        border-style: double;
        border-radius: 0.3rem;
        margin: 0.6rem 0 0 0;
        border-color: rgb(84, 101, 172);
    }
.form-item input{
    height: 4vh;
}
    
.form-item textarea{
    height: 20vh;
    }

.form-value p{
    margin: 0 0 2rem 0;
}

.slider input{
    width: 25vw;
}

.form-value{
    place-items: center;
}

/* ----- Slider for assessment ----- */
.box{
    display: flex;  
    width: 100%;
    margin: 1rem 0 0 2.2rem;
    align-items: center;
    
}

.form-value p{
    font-weight: 600;
    font-size: 0.9rem;
    color: rgb(84, 101, 172);
    margin-top: 1rem;
    
}

.slider input{
    width: 60vw;
}

.value{
    margin: 0 0 0 0.5rem;
    color: rgb(84, 101, 172);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
/*.slider input::-webkit-slider-thumb{  
    -webkit-slider-thumb: none;
    appearance: none;
    height: 20px;
    background: white;
}*/
.slider input::before{  
    content: "0";
    color: rgb(84, 101, 172);
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;

}
/*------Message assessment----*/
.message p{
    color: rgb(74, 236, 107);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
}
.message{
    margin: 2rem 0 2rem 0;
}

#btnMessage:hover{
    background-color:rgb(193, 217, 249);
    color: black;
    transition: all 0.275s ease-in;
}
footer {
    display: flex;
    background-color: rgb(84, 101, 172);
    bottom: 0;
    justify-content: center;
    margin-top: 1rem;
    font-size: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px) {
    #foto{
        width: 40vw;
        height: auto;
    }

    .net-container{
        justify-content: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    } 
    .network_path img{
        margin: 0;
        width: 5.5vw;
        height: 3.5vh;
        padding: 0;
    }
    .container{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
    
    }

    .container-sum-obj{
        display: flex;
        flex-direction: row;
        padding: 0 0 1rem 0;
        margin: 1rem 0.1rem 0 0.1rem;
        justify-content: center;
    }

    .container_languges{
        display: flex;
        flex-direction: row;
        padding: 0 1rem 1rem 1rem;
    }  
    
    .container_languges h5{
        padding: 0 0.5rem 0 0.5rem;
    }



    .responsable{
        margin: 2rem 1rem 1rem 1rem;
        padding: 2rem;
    }
    .border_asses{
        margin: 2rem 1rem 1rem 1rem;
        padding: 0.5rem 0 1rem 0;
    }
    /* ----- Slider for assessment ----- */
    .box{
        display: flex;  
        width: 100%;
        margin: 1rem 0 0 3rem;
        align-items: center;
        
    }
    
        .form-value input{
        width: 35vw;
    }
    
    .form-item input,
    .form-item textarea{
        width: 35vw;
        border-style: double;
        border-radius: 0.3rem;
        margin: 0.6rem 0 0 0;
        border-color: rgb(84, 101, 172);
    }
    .form-item input{
        height: 4vh;
    }
    
    .form-item textarea{
        height: 20vh;
    }
    
    .form-value p{
        font-weight: 600;
        font-size: 1rem;
        color: rgb(84, 101, 172);
        
    }
  
    .slider input{
        width: 58vw;
    }
 
    .value{
        margin: 0 0 0 0.5rem;
        color: rgb(84, 101, 172);
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
    /*.slider input::-webkit-slider-thumb{  
        -webkit-slider-thumb: none;
        appearance: none;
        height: 20px;
        background: white;
    }*/
    .slider input::before{  
        content: "0";
        color: rgb(84, 101, 172);
        position: absolute;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;

    }
    /*------Message assessment----*/
    .message p{
        color: rgb(74, 236, 107);
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    .message{
        margin: 2rem 0 2rem 0;
    }

    #btnMessage:hover{
        background-color:rgb(193, 217, 249);
        color: black;
        transition: all 0.275s ease-in;
    }
}

@media (min-width: 768px) {
    #foto{
        width: 45vw;
        height: auto;
    
    }

    nav a{
    font-weight: 500 solid;
    font-size: 1.2rem;
    padding: 0 1rem 0 1rem;
}

    .dropdown .dropbtn{
        font-weight: 280;
        font-size: 1.2rem;
    }
    .dropdown-content {
        font-weight: 400;
        width: 15rem;
    }
    
    .net-container{
        justify-content: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    } 
    .network_path img{
        margin: 0;
        width: 4vw;
        height: 3vh;
        padding: 0;
    }
    .container_languges{
        display: flex;
        flex-direction: row;
        padding: 0 1rem 1rem 1rem;
    }

    .responsable{
        margin: 2rem 10rem 2rem 10rem;
        padding: 2rem;
    }
    .border_asses{
        margin: 2rem 10rem 2rem 10rem;
        padding: 0.5rem 0 1rem 0;
    }

    .form-value input{
        width: 45vw;
    }
    
    .form-item input,
    .form-item textarea{
        width: 45vw;
        border-style: double;
        border-radius: 0.3rem;
        margin: 0.6rem 0 0 0;
        border-color: rgb(84, 101, 172);
    }
    .form-item input{
        height: 4vh;
    }
    
    .form-item textarea{
        height: 20vh;
    }

    /* ----- Slider for assessment ----- */
    .box{
        display: flex;  
        width: 100%;
        margin: 1rem 0 0 3rem;
        align-items: center;
        
    }
    .form-value p{
        font-weight: 600;
        font-size: 1rem;
        color: rgb(84, 101, 172);
        
    }
  
    .slider input{
        width: 42vw;
    }
 
    .value{
        margin: 0 0 0 0.5rem;
        color: rgb(84, 101, 172);
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
    /*.slider input::-webkit-slider-thumb{  
        -webkit-slider-thumb: none;
        appearance: none;
        height: 20px;
        background: white;
    }*/
    .slider input::before{  
        content: "0";
        color: rgb(84, 101, 172);
        position: absolute;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;

    }
    /*------Message assessment----*/
    .message p{
        color: rgb(74, 236, 107);
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    .message{
        margin: 2rem 0 2rem 0;
    }

    #btnMessage:hover{
        background-color:rgb(193, 217, 249);
        color: black;
        transition: all 0.275s ease-in;
    }

}

@media (min-width: 992px) {

    #foto{
        width:20vw;
        height: auto;
    
    }

    nav a{
    font-weight: 500 solid;
    font-size: 1.2rem;
    padding: 0 1rem 0 1rem;
}

    .dropdown .dropbtn{
        font-weight: 280;
        font-size: 1.2rem;
    }
    .dropdown-content {
        font-weight: 400;
        font-size: 10rem;
        width: 15rem;
    }
    .net-container{
        justify-content: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    } 
    .network_path img{
        margin: 0;
        width: 3vw;
        height: 4vh;
        padding: 0;
    }
    .container_languges{
        display: flex;
        flex-direction: row;
        padding: 0 1rem 1rem 1rem;
    }

    .responsable{
        margin: 2rem 18rem 2rem 18rem;
        padding: 2rem;
    }
    .border_asses{
        margin: 2rem 18rem 2rem 18rem;
        padding: 0.5rem 0 1rem 0;
    }

    .form-value input{
        width: 35vw;
    }
    
    .form-item input,
    .form-item textarea{
        width: 35vw;
        border-style: double;
        border-radius: 0.3rem;
        margin: 0.6rem 0 0 0;
        border-color: rgb(84, 101, 172);
    }
    .form-item input{
        height: 4vh;
    }
    
    .form-item textarea{
        height: 20vh;
    }

/* ----- Slider for assessment ----- */
.box{
    display: flex;  
    width: 100%;
    margin: 1rem 0 0 2rem;
    align-items: center;
    
}

.form-value p{
    font-weight: 600;
    font-size: 1rem;
    color: rgb(84, 101, 172);
    
}

.slider input{
    width: 32vw;
}

.value{
    margin: 0 0 0 0.5rem;
    color: rgb(84, 101, 172);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
/*.slider input::-webkit-slider-thumb{  
    -webkit-slider-thumb: none;
    appearance: none;
    height: 20px;
    background: white;
}*/
.slider input::before{  
    content: "0";
    color: rgb(84, 101, 172);
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;

}
/*------Message assessment----*/
.message p{
    color: rgb(74, 236, 107);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
}
.message{
    margin: 2rem 0 2rem 0;
}

#btnMessage:hover{
    background-color:rgb(193, 217, 249);
    color: black;
    transition: all 0.275s ease-in;
}

}

@media (min-width: 1200px) {
        
    #foto{
        width: 15vw;
        height: auto;
    
    }

    nav a{
    font-weight: 300 solid;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
}

    .dropdown .dropbtn{
        font-weight: 300;
        font-size: 1rem;
    }
    .dropdown-content {
        font-weight: 400;
        width: 12rem;
    }

    .network_path img{
        margin: 0;
        width: 3vw;
        height: 2vh;
        padding: 0;
    }
    
    .container_languges{
        display: flex;
        flex-direction: row;
        padding: 0 1rem 1rem 1rem;
    }
    .responsable{
        margin: 2rem 25rem 2rem 25rem;
        padding: 2rem;
    }
    .border_asses{
        margin: 2rem 25rem 2rem 25rem;
        padding: 0.5rem 0 1rem 0;
    }
    .form-item input,
    .form-item textarea{
        width: 25vw;
        border-style: double;
        border-radius: 0.3rem;
        margin: 0.6rem 0 0 0;
        border-color: rgb(84, 101, 172);
    }
    .form-item input{
        height: 4vh;
    }
    
    .form-item textarea{
        height: 20vh;
    }
/* ----- Slider for assessment ----- */
    .box{
        display: flex;  
        width: 100%;
        margin: 1rem 0 0 3rem;
        align-items: center;
        
    }

    .form-value p{
        font-weight: 600;
        font-size: 1rem;
        color: rgb(84, 101, 172);
        
    }
  
    .slider input{
        width: 23vw;
    }
 
    .value{
        margin: 0 0 0 0.5rem;
        color: rgb(84, 101, 172);
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
    /*.slider input::-webkit-slider-thumb{  
        -webkit-slider-thumb: none;
        appearance: none;
        height: 20px;
        background: white;
    }*/
    .slider input::before{  
        content: "0";
        color: rgb(84, 101, 172);
        position: absolute;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;

    }
    /*------Message assessment----*/
    .message p{
        color: rgb(74, 236, 107);
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    .message{
        margin: 2rem 0 2rem 0;
    }

    #btnMessage:hover{
        background-color:rgb(193, 217, 249);
        color: black;
        transition: all 0.275s ease-in;
    }
}

@media (min-width: 1400px) {
    
    #foto{
        width: 15vw;
        height: auto;
    
    }

    nav a{
    font-weight: 300 solid;
    font-size: 1.2rem;
    padding: 0 1rem 0 1rem;
}

    .dropdown .dropbtn{
        font-weight: 300;
        font-size: 1rem;
    }
    .dropdown-content {
        font-weight: 300;
        width: 13.7rem;
    }

        .network_path img{
        margin: 0;
        width: 2vw;
        height: 4vh;
        padding: 0;
    }
    
    .container_languges{
        display: flex;
        flex-direction: row;
        padding: 0 1rem 1rem 1rem;
    }
    
    .responsable{
        margin: 2rem 25rem 2rem 25rem;
        padding: 2rem;
    }

    .border_asses{
        margin: 2rem 25rem 2rem 25rem;
        padding: 0.5rem 0 1rem 0;
    }
    .form-item input,
    .form-item textarea{
        width: 25vw;
        border-radius: 0.3rem;
        margin: 0.6rem 0 0 0;
        border-color: rgb(84, 101, 172);
        border-width: 0.15rem;

    }

    /* ----- Slider for assessment ----- */
    .box{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 0 0 9.8rem;
        align-items: center;
        
    }
    
    .form-value{
        place-items: center;
    }

    .form-value p{
        font-weight: 600;
        font-size: 1rem;
        color: rgb(84, 101, 172);
        
    }
  
    .slider input{
        width: 23vw;
    }
 
    .value{
        margin: 0 0 0 0.5rem;
        color: rgb(84, 101, 172);
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
    /*.slider input::-webkit-slider-thumb{  
        -webkit-slider-thumb: none;
        appearance: none;
        height: 20px;
        background: white;
    }*/
    .slider input::before{  
        content: "0";
        color: rgb(84, 101, 172);
        position: absolute;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;

    }
    /*------Message assessment----*/
    .message p{
        color: rgb(74, 236, 107);
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    .message{
        margin: 2rem 0 2rem 0;
    }

    #btnMessage:hover{
        background-color:rgb(193, 217, 249);
        color: black;
        transition: all 0.275s ease-in;
    }
}
